<nav>
    <div class="row">

        <div class="col-xs-12">
            <br>
            <button type="button" class="btn btn-default w-100">
                <a href="/administration/createWorker">Create worker</a>
            </button>

        </div>


    </div>
</nav>